<div class="row col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-3">
  <div class="navbar-form navbar-left" role="search" >

    <!-- search path not working yet -->
    <%= form_tag root_path, method: :get do %>
      <%= search_field_tag :route, nil,
      placeholder: "Route Tag", class: "form-control"%>
      <%= search_field_tag :stop_id, nil,
      placeholder: "Stop ID", class: "form-control" %>

      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>

  </div>
</div>